body{
    margin: 25px;
    background-color: #e9e9e9 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #464242;
    border-bottom: 1px solid #464242;
    width: 100%;
    align-items: center;
    margin-right: 15px;
}

/* header > a{
    width: 50%;
} */

header > a > img.logo {
    /* align-items: center; */
    width: 250px;
}

header > nav {
    margin: 2%;
}

header > nav > p{
    color: #7F7979;
    font-size: 16pt;
}

header > nav > p > a{
    color: #7F7979;
    text-decoration: none;
}

section{
    flex-flow: row;
}

section > form{
    flex-flow: column;
    border: solid black;
    padding: 1%;
    width: 150px;
    height: 210px;
    display: flex;
    justify-content: baseline;
    background-color: #7f7979;
    font-size: 9pt;
    border-radius: 11px;
    color: #e9e9e9;
    justify-content: space-around;
    box-shadow: 1.5px 1.5px rgb(60, 58, 58);
    opacity: 70%;
    margin: 15px 15px 0px 15px;
    padding-top: 2.6%;
    padding-bottom: 2.6%;

}

section > div > form > .title{
    font-size: 12pt;
    color: #92B4A7;
    text-shadow: .4px .4px 0 #464242;
}

section > form > .text{
    border-radius: 3px;
    border: none;
    width: 143px;
    height: 13.667px;
}

section  > form > .select{
    border: none;
    width: 143px;
    height: 13.667px;

}

section > form > .submit{
    margin-top: 6px;
    border-radius: 3px;
    border: none;
    width: 143px;
    height: 13.667px;

}

.users{
    display: flex;
    flex-flow: row wrap;  
}


.users > #new-user{
    flex-flow: column;
    border: solid black;
    padding: 1%;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: baseline;
    background-color: #7f7979;
    font-size: 9pt;
    border-radius: 11px;
    color: #e9e9e9;
    justify-content: space-around;
    box-shadow: 1.5px 1.5px rgb(60, 58, 58);
    opacity: 70%;
    margin: 15px 15px 0px 15px;
}

.users > #new-user > .title{
    color: #92B4A7;
    text-shadow: 0.4px 0.4px black;
    font-size: 13pt;
    text-align: center;
}

.users > #new-user > #name{
    color: #252323;
    text-shadow: 0.4px 0.4px #92B4A7;
    font-size: 10pt;
    padding: 3px;
}

.users > #new-user > .text{
    background-color: #f0efef;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #252323;
}

.users > #new-user > .submit{
    background-color: #f0efef;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #252323;
}

.users > label{
    flex-flow: column;
    border: solid black;
    padding: 1%;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: baseline;
    background-color: #7f7979;
    font-size: 9pt;
    border-radius: 11px;
    justify-content: space-around;
    box-shadow: 1.5px 1.5px rgb(60, 58, 58);
    opacity: 70%;
    margin: 15px 15px 0px 15px;
    text-align: center;
    font-size: 17pt;
    color: #92B4A7;
    text-shadow: 0.4px 0.4px black;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards > div{
    border: solid black;
    background-color: #7F7979;
    opacity: 70%;
    padding: 1%;
    padding-top: 2.6%;
    padding-bottom: 2.6%;
    width: 150px;
    height: 210px;
    border-radius: 9px;
    text-shadow: 0.4px 0.4px black;
    text-align: center;
    box-shadow: 1.5px 1.5px rgb(60, 58, 58);
    -webkit-transition: width height 3s;
    transition: width height 3s;
    margin: 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: space-between;
}


.cards > div:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: rgb(174, 171, 171);
    color: #4038AF;
}

.cards > div > a.fill-div{
    position: relative;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%; 
    width: 100%;
}

.cards > div > img{
    border-radius: 4px;
    max-width: 125px;
    height: auto;
}

.cards > div > h2{
    color: #92B4A7;
    font-size: 10pt;
    text-align: center;
}

.cards > div:hover > h2{
    background-color: rgb(174, 171, 171);
    color: #40384F;
}

.card-info{
    display: flex;
    flex-direction: column-reverse;
}

.card-info > h2{
    margin: 5px;
    color: #40384F;
}

.card-info > h3{
    margin: 5px;
    color: #7F7979;
    text-shadow: .4px .4px 0px #92B4A7
}

.card-info > h4{
    margin: 5px;
    font-size: 15pt;
    text-shadow: .4px .4px 0 #464242;
}
.card-info > h4 > a{
    color: #92B4A7;
}

.card-info > article{
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
}

.card-info > article > label{
    margin: 15px;
    color: #464242;
}

.card-info > article > img{
    border-radius: 4px;
    border-style: outset;
    width: 250px;
    height: auto;
}

.card-info > #edit-owner{
    margin: 5px;
    font-size: 16pt;
    color: #92B4A7;
    text-shadow: .4px .4px 0 #464242;
}

.card-info > #edit-owner > #drop-down{
    border-radius: 1px;
    border-color: #92B4A7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    background-color: #f0efef;
}

.card-info > #edit-owner > input{
    border-radius: 2px;
    border-color: #92B4A7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    background-color: #f0efef;
    border-style: outset;
}

.card-info > p{
    height: 10pt;
    margin: 0pt;
}

.card-info > p > p{
    height: 10pt;
    margin: 0pt;
}

.card-info > p > p > a{
    font-size: 6pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #464242;
    text-decoration: none;
}

.user-head > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0 15px 0;
}

.user-head > div > button {
    background-color:#7F7979;
    border-radius: 15%;
    height: 2rem;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(206, 204, 204);
    text-shadow: .4px .4px 0 #464242;
    border-style: inset;
    margin-right: 2.7rem;
}

.user-page{
    display: flex;
    flex-flow: row wrap;
}

.user-page > div{
    border: solid black;
    background-color: #7F7979;
    opacity: 70%;
    padding: 1%;
    padding-top: 2.6%;
    padding-bottom: 2.6%;
    width: 150px;
    height: 210px;
    border-radius: 9px;
    text-shadow: 0.4px 0.4px black;
    text-align: center;
    box-shadow: 1.5px 1.5px rgb(60, 58, 58);
    -webkit-transition: width height 3s;
    transition: width height 3s;
    margin: 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: space-between;
}

.user-page > div > img{
    border-radius: 4px;
    max-width: 125px;
    height: auto;
}

footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #464242;
    border-top: 1px solid #464242;
}

footer > p{
    margin: 2%;
    color: #464242;
    font-size: 10pt;
}

footer > p > a{
    color: #464242;
    text-decoration: none;
    font-size: 10pt;
}
