body{
    background-color: #e9e9e9 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header > img.logo {
    width: 250px;
    /* margin-left: 5%; */
}

header > nav > ul{
    text-align: center;
    padding: .5%;
    border-top: 2px solid #464242;
    border-bottom: 1px solid #464242;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

header > nav > ul > li{
    display: inline;
}
